<ion-view id="tab-demo">
  <ion-header-bar align-title="left" class="bar-royal">
        <div class="h1 title">推送测试</div>
  </ion-header-bar>

  <ion-content>
        <ion-list>
            <ion-item ng-click="sendOne()">
                发送单个消息
            </ion-item>
            <ion-item ng-click="sendTwo()">
                发送多个消息
            </ion-item>
            <ion-item ng-click="sendThree()">
                重复提醒
            </ion-item>
            <ion-item ng-click="sendFourth()">
                带参数方法
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
